.nav-pills  {
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.nav-link {
  color: #212121;
}
.nav-link.active {
  background-color: #e03131 !important;
}
.nav-link:hover{
  color: rgba(227, 70, 70, 0.8);
}
.catalog-gap {
  margin-top: 3rem;
}

.card-img-top {
  padding:2rem 1rem;
  padding-bottom: 1rem;
  background-color: rgba(255, 242, 242, 0.5);
}

.section-catalog {
  padding-bottom: 5rem;
}

.card-body > h5 {
  font-weight: bold;
}

.card-text {
  font-size: 0.9rem;
}

.card-number {
  text-align: right;
  font-size: 1rem;
}

.number {
  color: white;
  background-color: #e03131;
  border-radius: 100%;
  padding: 0.5rem 0.7rem;
}
